@use "../abstracts/mixins" as *;
@use "../abstracts/root" as *;

/*
    Content Box

-------------------------------------
*/

.content-box {
    // Font Size
    .text {
        font-size: var(--font-size__text);
        line-height: var(--font-size__header-m);
    }

    .header-m {
        font-size: var(--font-size__header-m);
        line-height: var(--font-size__header-m);
    }

    .header-l {
        font-size: var(--font-size__header-l);
        line-height: var(--font-size__header-l);
    }

    .header-xl {
        font-size: var(--font-size__header-xl);
        line-height: var(--font-size__header-xl);
    }
}


