@use "../abstracts/mixins" as *;
@use "../abstracts/root" as *;

/*
    Layout

-------------------------------------
*/

// Containers
.container-nav,
.container-s,
.container-m,
.container-l {
    margin: 0 auto;
    height: 100%;
}

.container-s {
    max-width: var(--content__max-width-s);
}

.container-nav,
.container-m {
    max-width: var(--content__max-width-m);
}

.container-l {
    max-width: var(--content__max-width-l);
}

.site-header {

    .container-nav {
        @include flex-center-between();
    }
}

/*
    Navigation

-------------------------------------
*/

// Desktop Navigation
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color__gray-dark);
    width: 100%;
    height: var(--navigation__main-height);
    z-index: 9999;

    .main-navigation {
        @include flex-center-between();
        padding: var(--navigation__padding);

        .menu-portfolio-primary-container {
            position: absolute;
            top: 0;
            left: calc(-100% - 5px);
            width: var(--navigation__width-mobile);
            height: var(--navigation__height-mobile);
            background-color: var(--color__gray-dark);
            display: flex;
            box-shadow: 0px 0px 5px 0px rgba(171, 178, 178, 1);
            opacity: var(--navigation__opacity);
            @include transition(.7s);

            .menu.nav-menu {
                width: 100%;
                height: auto;
                @include flex-center-column();

                .menu-item {
                    padding: var(--navigation__menu-item-padding);
                    margin: 0.3rem 2rem;

                    a {
                        font-size: var(--navigation__font-size);
                        font-weight: var(--font-weight__light);
                        color: var(--color__white);

                        &:hover {
                            color: var(--color__blue-light);
                            margin-left: 0.5rem;
                            -webkit-box-shadow: 0 2px 0px rgba(182, 182, 182, 0.75);
                            -moz-box-shadow: 0 2px 0px rgba(182, 182, 182, 0.75);
                            box-shadow: 0 2px 0px rgba(182, 182, 182, 0.75);
                            border-bottom-left-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                            padding: 0 0.5rem;
                        }

                        &::before {
                            content: '<';
                            margin-right: 0.2rem;
                        }

                        &::after {
                            content: '/>';
                            margin-left: 0.2rem;
                        }

                        &::before,
                        &::after {
                            color: var(--color__blue-light);
                        }
                    }
                }

                .menu-item-22 {

                    a {
                        margin-right: 2rem;
                        margin-top: 2rem;

                        &:hover {
                            margin-left: 0;
                            box-shadow: none;
                        }

                        &::before,
                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .site-branding {

        a {
            @include flex-center();

            img {
               border-radius: 0;

                &:hover {
                    @include scale();
                    box-shadow: none;
                }
            }
        }
    }

    .menu-toggle {
        display: block;
        width: var(--navigation-toggle__width);
        height: var(--navigation-toggle__height);
        border: 0;
        border-radius: 0;
        background-color: transparent;
        position: relative;
        margin-left: 0;
        padding: 0;
        outline: 0;
        z-index: 11;
        cursor: pointer;

        @include transition();

        span {
            position: absolute;
            left: 0;
            display: block;
            background-color: var(--color__orange);
            width: 100%;
            height: var(--navigation-toggle-span__height);
            
            @include transition();

            &:first-of-type {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 44%;
            }
            &:last-of-type {
                bottom: 0;
            }
        }
    }
    
    .main-navigation.toggled {

        .menu-portfolio-primary-container {
            left: 0;
            transition: all 0.7s ease-in-out;
        }

        .menu-toggle {

            span {
                &:first-of-type {
                    top: 16px;
                    transform: rotate(135deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    top: 16px;
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

// Footer
.footer {
    margin: var(--section__margin-top-bottom);

    .icons__content {
        @include flex-center-evenly();

        .icons__inner {

            i {
                font-size: 3em;

                &.fa-google {

                    &:hover {
                        color: var(--color__google);
                    }
                }
    
                &.fa-linkedin-in{
    
                    &:hover {
                        color: var(--color__linkedin);
                    }
                }
    
                &.fa-mobile-alt {
    
                    &:hover {
                        color: var(--color__mobile-phone);
                    }
                }

                &:hover {
                    @include scale(0.8);
                }
            }
        }
    }

    &__content {
        @include flex-center();
        margin-top: 3rem;

        .privacy-policy-cta {
            margin-right: 2rem;
        }

        .copyrights {
            color: var(--color__gray);
        }
    }
}

/*
    Media Queries
    Navigation, Footer
--------------------------------------------------------*/

// Containers
@media screen and (max-width: 1564px) {
    .container-nav,
    .container-s,
    .container-m,
    .container-l {
        padding: var(--content__padding);
    }
}

// Navigation Scrolled + Main
@media screen and (max-width: 1200px) {

    .site-header {
        @include transition();

        &.scrolled {
            height: var(--navigation__main-height-scrolled);
        }
        
        .main-navigation {
            @include transition();

            &.scrolled {
                padding: var(--navigation__padding-scrolled);
            }

            .menu-portfolio-primary-container {

                .menu.nav-menu {

                    .menu-item-22 {

                        a {
                            margin-left: 1rem;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }

        .site-branding {

            a {

                img {
                    @include transition();

                    &.scrolled {
                        max-width: var(--navigation__logo-max-width-scrolled);
                    }
                }
            }
        }

        .menu-toggle {
            @include transition();

            &.scrolled {
                width: var(--navigation-toggle__width-scrolled);
                height: var(--navigation-toggle__height-scrolled);
            }
        }
    }
}

// Footer
@media screen and (max-width: 999px) {
    .footer {

        .icons__content {

            .icons__inner {
                flex-basis: 33.333%;

                i {
                    font-size: 2.5em;
                }
            }

            .icons__inner:nth-child(1),
            .icons__inner:nth-child(2),
            .icons__inner:nth-child(3),
            .icons__inner:nth-child(4) {
                margin-bottom: 0;
            }
        }

        &__content {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 767px) {
    .site-header {

        .menu-toggle {
            span {
    
                &:nth-of-type(2) {
                    top: 43%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .site-header {

        .main-navigation {

            .menu-toggle {
                span {
        
                    &:nth-of-type(2) {
                        top: 43%;
                    }
                }
            }

            &.toggled {

                .menu-toggle {

                    span:first-of-type,
                    span:last-of-type {

                        top: 10px;
                    }
                }
            }
        }


        .site-branding {

            a {

                img {
                    max-width: 80%;
                }
            }
        }
    }
}