@use "../abstracts/mixins" as *;
@use "../abstracts/root" as *;

/*
    Skills Section

-------------------------------------
*/

.icons {
    &__content {
        @include flex-center-between();


        &:has(i:hover) {
            > .icons__inner {
                i {
                    &:hover {
                        transform: scale(1.1);
                    }
          
                    &:not(:hover) {
                    transform: scale(.7);
                    opacity: .7;
                    }
                }
            }
        }

        .icons__inner {

            i {
                font-size: 6em;
                color: var(--color__black);
                @include transition();

                &.fa-js-square {

                    &:hover {
                        color: var(--color__javascript);
                    }
                }

                &.fa-react {

                    &:hover {
                        color: var(--color__react);
                    }
                }

                &.fa-html5 {

                    &:hover {
                        color: var(--color__html-5);
                    }
                }

                &.fa-css3-alt {

                    &:hover {
                        color: var(--color__css-3);
                    }
                }

                &.fa-sass {

                    &:hover {
                        color: var(--color__sass);
                    }
                }

                &.fa-wordpress {

                    &:hover {
                        color: var(--color__wordpress);
                    }
                }

                &.fa-git {

                    &:hover {
                        color: var(--color__git);
                    }
                }
            }
        }
    }
}

/*
    Skills Section RWD

-------------------------------------
*/

@media screen and (max-width: 999px) {
    .icons {

        &__content {
            flex-wrap: wrap;
            justify-content: space-around;

            .icons__inner {
                @include flex-center();
                flex-basis: 33.333%;
            }

            .icons__inner:nth-child(1),
            .icons__inner:nth-child(2), 
            .icons__inner:nth-child(3) {
                margin-bottom: 5rem;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .icons {

        &__content {
            flex-wrap: wrap;
            justify-content: space-around;

            .icons__inner {
                flex-basis: 50%;

                i {
                    font-size: 5em;
                }
            }

            .icons__inner:nth-child(1),
            .icons__inner:nth-child(2), 
            .icons__inner:nth-child(3),
            .icons__inner:nth-child(4) {
                margin-bottom: 3rem;
            }
        }
    }
}