/* Components */

/* Containers */
.container-sm {
    max-width: var(--container-sm);
    height: 100%;
    margin: 0 auto;
}

.container-md {
    max-width: var(--container-md);
    height: 100%;
    margin: 0 auto;
}

.container-md-v {
    max-width: var(--container-md);
    height: 100vh;
    margin: 0 auto;
}

.container-lg {
    max-width: var(--container-lg);
    height: 100%;
    margin: 0 auto;
}

/* Font Style */
.f-style-primary {
    font-family: var(--roboto-condensed);
}

/* Font Size */
.f-text {
    font-size: var(--font-size-text-l);
    font-weight: var(--font-weight-light);
}

.f-text-b {
    font-size: var(--font-size-text-l);
    font-weight: var(--font-weight-bold);
}

.f-heading-m {
    font-size: var(--font-size-heading-m-l);
    font-weight: var(--font-weight-light);
}

.f-heading-l {
    font-size: var(--font-size-heading-l-l);
    font-weight: var(--font-weight-regular);
}

.f-heading-xl {
    font-size: var(--font-size-heading-xl-l);
    font-weight: var(--font-weight-regular);
}

/* Font Size Cv Page */
.f-text-cv {
    font-size: var(--font-size-text-cv-l);
    font-weight: var(--font-weight-light);
}

.f-text-cv-b {
    font-size: var(--font-size-text-cv-l);
    font-weight: var(--font-weight-bold);
}

.f-text-agree {
    font-size: var(--font-size-agree-cv-l);
    font-weight: var(--font-weight-light);
}

/* Colors */
.c-primary {
    color: var(--color-primary);
}

.c-secondary {
    color: var(--color-secondary);
}

.c-optional-1 {
    color: var(--color-optional-1);
}

.c-optional-2 {
    color: var(--color-optional-2);
}

/* Text Helpers */
.bolded {
    font-weight: var(--font-weight-bold);
}

.cv-page-colored {
    color: var(--color-primary);
}

/* Menu Desktop */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color-primary);
    width: 100%;
    z-index: 9999;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* Menu Item */
.menu-item a {
    font-family: var(--roboto-condensed);
    font-size: var(--font-size-menu-l);
    font-weight: var(--font-weight-light);
    color: var(--color-optional-1);
    transition: var(--transition-primary);
}

/* Menu Hoover */
.menu-item {
    margin: 0 2rem;
}

.menu-item a:hover {
    color: var(--color-primary);
}

.menu-item a::before,
.menu-item a::after {
    color: var(--color-primary);
}

.menu-item a::before {
    content: '<';
    margin-right: 0.2rem;
}

.menu-item a::after {
    content: '/>';
    margin-left: 0.2rem;
}

/* Menu Item Single */
.menu-item-22 a::after,
.menu-item-22 a::before {
    content: none;
}

/* Animation Dots */
.menu-loading {
    margin: 1rem 0;
}

.loading:hover {
    color: var(--color-optional-2);
}

.loading:after {
	content: ' .';
	animation: dots 3s steps(5, end) infinite;
}

@keyframes dots {

	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow:
			8px 0 0 rgba(0, 0, 0, 0),
			16px 0 0 rgba(0, 0, 0, 0);
	}

	40% {
		color: var(--color-optional-2);
		text-shadow:
			8px 0 0 rgba(0, 0, 0, 0),
			16px 0 0 rgba(0, 0, 0, 0);
	}

	60% {
		text-shadow:
			8px 0 0 var(--color-optional-2),
			16px 0 0 rgba(0, 0, 0, 0);
	}

	80%,
	100% {
		text-shadow:
			8px 0 0 var(--color-optional-2),
			16px 0 0 var(--color-optional-2);
	}
}

/* Section Helpers */
.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-40 {
    flex-basis: 40%;
}

.flex-45 {
    flex-basis: 45%;
}

.flex-55 {
    flex-basis: 55%;
}

/* Arrow Box */

.arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--bg-color-primary);
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    transition: var(--transition-primary);
}

.arrow-box:hover {
    background-color: transparent;
    color: var(--color-primary);
}

.t-center {
    text-align: center;
}

/* Section Title */
.section-title__content {
    margin: 10rem 0 7rem 0;
}

.section-title__heading,
.section-subtitle__heading {
    margin-bottom: 1rem;
}

/* Section Image */
.section__image {
    transition: var(--transition-primary);
}

.section__image:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);
    box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);
}

/* Logo */

/* Scrolled Nav */

/* Welcome Info */
.welcome-info__content {
    height: 100%;
}

.welcome-info__paragraph {
    margin-bottom: 1rem;
}

/* About Me */
.about-me__heading {
    margin-bottom: 3rem;
}

.about-me__paragraph {
    margin-bottom: 2rem;
}

/* Work Gallery */
.work-gallery__content {
    height: 100%;
}

.work-gallery-example {
    margin-bottom: 5rem;
}

.work-gallery-example:nth-child(2) .work-gallery-text,
.work-gallery-example:nth-child(4) .work-gallery-text,
.work-gallery-example:nth-child(6) .work-gallery-text,
.work-gallery-example:nth-child(8) .work-gallery-text,
.work-gallery-example:nth-child(10) .work-gallery-text,
.work-gallery-example:nth-child(12) .work-gallery-text,
.work-gallery-example:nth-child(14) .work-gallery-text {
    order: 1;
}

.work-gallery-example:last-of-type {
    margin-bottom: 0;
}

.work-gallery__link,
.work-gallery-page__link {
    display: inline-block;
    transition: var(--transition-primary);
}

.work-gallery__link {
    margin-bottom: 1rem;
}

.work-gallery-page__link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.work-gallery__link:hover,
.work-gallery-page__link:hover {
    color: var(--color-optional-2);
}

.work-gallery-page__link i {
    margin-left: 0.5rem;
    transition: var(--transition-primary);
}

.work-gallery-page__link:hover i {
    margin-left: 1rem;
}

/* Gallery Template */
.gallery-template-1 {
    margin-top: 10rem;
}

/* Skills & CV Skills */
.skill-example i,
.cv-skill-example i {
    color: var(--color-optional-3);
    transition: var(--transition-primary);
}

.skill-example i:hover,
.cv-skill-example i:hover {
    transform:scale(0.7);
}

.skill-example .fa-html5:hover,
.cv-skill-example .fa-html5:hover {
	color: #ab7558;
}

.skill-example .fa-css3-alt:hover,
.cv-skill-example .fa-css3-alt:hover {
	color: #3965bd;
}

.skill-example .fa-js-square:hover,
.cv-skill-example .fa-js-square:hover {
	color: #f4bf75;
}

.skill-example .fa-react:hover,
.cv-skill-example .fa-react:hover {
	color: #194D33;
}

.skill-example .fa-wordpress:hover,
.cv-skill-example .fa-wordpress:hover {
	color: #21759b;
}

.skill-example .fa-git:hover,
.cv-skill-example .fa-git:hover {
	color: #F1502F;
}

/* CV Zone */
.cv-zone-download,
.cv-zone-page {
    margin: 0 2rem;
}

.cv-zone__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-zone__link i {
    color: var(--color-optional-3);
    margin-bottom: 1rem;
    transition: var(--transition-primary);
}

.cv-zone__link i:hover {
    color: var(--color-primary);
}

/* Ask Me */
.ask-me {
    margin-bottom: 10rem;
}

.ask-me .d-flex-between {
    align-items: flex-start;
}

/* Ask Me Form */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-family: var(--roboto-condensed);
    background-color: transparent;
    color: var(--color-secondary);
    font-size: var(--font-size-text-l);
    font-weight: var(--font-weight-regular);
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--color-secondary);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding: 0.5rem 0;
    transition: var(--transition-primary);
}

textarea {
    height: 70px;
    max-height: 100px;
    max-width: 600px;
    resize: auto;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    border-bottom: 2px solid transparent;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
    color: var(--color-secondary);
    font-size: var(--font-size-text-l);
    font-weight: var(--font-weight-light);
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
textarea:active,
textarea:focus {
    padding: 0.5rem;
}

.wpcf7-submit {
    width: auto;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--bg-color-primary);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 1rem;
    transition: var(--transition-primary);
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: relative;
}

.wpcf7-submit::before {
    content: 'e20a';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.wpcf7-submit:hover {
    background-color: transparent;
    color: var(--color-primary);
}

/* Ask Me Socials */
.ask-me-socials__content {
    margin: 10rem 0;
}

.social-example i {
    color: var(--color-optional-3);
    transition: var(--transition-primary);
}

.social-example i:hover {
    transform: scale(0.7);
}

.social-example .fa-facebook-square:hover {
	color: #4267B2;
}

.social-example .fa-twitter:hover {
	color: #1DA1F2;
}

.social-example .fa-linkedin-in:hover {
	color: #2867B2;
}

.social-example .fa-google:hover {
	color: #4285F4;
}

.social-example .fa-mobile-alt:hover {
	color: #FF6700;
}

.social-example .fa-instagram:hover {
	color: #bc2a8d;
}

/* Footer */
.footer__content {
    padding: 4rem 0;
}

.privacy-policy,
.copyrights {
    margin: 0 2rem;
}

.privacy-policy__link {
    transition: var(--transition-primary);
}

.privacy-policy__link:hover {
    color: var(--color-primary);
}

/* Cv Page */
.cv-page {
    margin-top: 10rem;
}

.cv-image {
    flex-basis: 25%;
}

.cv-contact {
    flex-basis: 65%;
}

/* Cv Header */

.cv-contact-title__heading {
    margin-bottom: 4rem;
}

.cv-contact__heading {
    margin-bottom: 1rem;
}

.cv-contact__link {
    display: block;
    margin-bottom: 0.5rem;
    transition: var(--transition-primary);
}

.cv-contact__link:hover {
    color: var(--color-optional-1);
}

.cv-contact__link:last-of-type {
    margin-bottom: 0;
}

/* Cv About */

.cv-about-me {
    margin-top: 2rem;
}

.cv-about-me__paragraph {
    margin-bottom: 1rem;
}

.cv-about-me__paragraph:last-of-type {
    margin-bottom: 0;
}

/* Cv Experience */
.cv-experience-title__heading {
    margin: 2rem 0;
}

.cv-experience__paragraph {
    margin-bottom: 0.2rem;
}

/* Cv Portfolio */
.cv-portfolio__paragraph:first-of-type {
    margin-top: 1rem;
}

.cv-portfolio__paragraph:last-of-type,
.cv-portfolio__link {
    margin-bottom: 1rem;
}

.cv-portfolio__link {
    transition: var(--transition-primary);
}

.cv-portfolio__link:hover {
    color: var(--color-primary);
}

/* Cv Skills */
.cv-skills {
    margin: 2rem 0;
}

.cv-skill-example i {
    color: var(--color-primary);
}

/* CV Tech Stack */
.cv-tech-stack.d-flex-between {
    align-items: flex-start;
}

.wp-stack-title__heading,
.front-stack-title__heading {
    margin-bottom: 1rem;
}

.wp-stack__paragraph,
.front-stack__paragraph {
    margin-bottom: 0.2rem;
}

.wp-stack__paragraph:last-of-type,
.front-stack__paragraph:last-of-type {
    margin-bottom: 0;
}

/* Cv Agreement */
.cv-agreement {
    margin-top: 2rem;
}
