@use "variables" as *;

/*
    Root Variables

-------------------------------------
*/

:root {
    // Navigation
    --navigation__main-height: 125px;

    --navigation__font-size: 1.675rem;
    --navigation__text-color: #{$color__white};
    --navigation__text-color-hover: #{$color__blue-light};
    --navigation__bg-color: #{color__gary-dark};
    --navigation__menu-item-padding: 0 2rem;
    --navigation__padding: 2rem 0;
    --navigation__opacity: 0.9;

    --navigation__width-mobile: 25%;
    --navigation__height-mobile: 100vh;
    --navigation-toggle__width: 54px;
    --navigation-toggle__height: 40px;

    --navigation-toggle-span__height: 6px;

    // Scrolled Items
    --navigation__main-height-scrolled: 85px;
    --navigation__padding-scrolled: 1rem 0;

    --navigation-toggle__width-scrolled: 42px;
    --navigation-toggle__height-scrolled: 32px;

    --navigation__logo-max-width-scrolled: 80%;

    // Section
    --section__margin: 10rem;
    --section__margin-top-bottom: 10rem 0 3rem 0;
    
    // Content
    --content__max-width-s: 1200px;
    --content__max-width-m: 1500px;
    --content__max-width-l: 1920px;
    --content__padding: 0 2rem;

    // Fonts
    --font-style__primary: 'Roboto Condensed', sans-serif;
    --font-style__secondary: 'Saira Stencil One', sans-serif;

    // Font Size
    --font-size__global: 1.375rem;
    --font-size__text: 1.375rem;

    --font-size__header-m: 1.775rem;
    --font-size__header-l: 2.5rem;
    --font-size__header-xl: 4.688rem;

    // Font Weight
    --font-weight__light: 300;
    --font-weight__regular: 400;
    --font-weight__medium: 500;
    --font-weight__bold: 700;

    // Colors
    --color__orange: #{$color__orange};
    --color__gray: #{$color__gray};
    --color__gray-dark: #{$color__gray-dark};
    --color__white: #{$color__white};
    --color__blue-light: #{$color__blue-light};
    --color__black: #{$color__black};

    // Colors Technologies
    --color__javascript: #{$color__javascript};
    --color__react: #{$color__react};
    --color__html-5: #{$color__html-5};
    --color__css-3: #{$color__css-3};
    --color__sass: #{$color__sass};
    --color__wordpress: #{$color__wordpress};
    --color__git: #{$color__git};

    // Colors Socials
    --color__google: #{$color__google};
    --color__linkedin: #{$color__linkedin};
    --color__github: #{$color__github};

    // Content Box
    --content-box__max-height: 831px;
    --content-box__border-radius: 1rem;
    --content-box__margin-bottom: 1rem;
    --content-box__margin-bottom-header: 3rem;
    --content-box__box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);

    --content-box__arrow-box-width: 60px;
    --content-box__arrow-box-height: 60px;

    // Title
    --title__margin: 10rem 0 7rem 0;
    --title__arrow-width: 60px;
    --title__arrow-height: 60px;
    --title__margin-bottom: 1rem;

    // Gallery Cards
    --gallery-card__content-height: 395px;

    --gallery-card__margin-bottom: 1rem;
    --gallery-card-inner__margin-bottom: 10rem;
    --gallery-card__max-width: 825px;
    --gallery-card__max-height: 405px;

    // News Cards
    --news-card__content-height: 355px;

    // Gallery Template
    --gallery-template-image__height: 600px; 
    --gallery-template-image__min-width: 135px;
    --gallery-template-image__margin-top: 5rem;

    // Form
    --form-input__bg-color: transparent;
    --form-input__text-color: #{$color__gray};
    --form-input__text-color-focus: #{$color__orange};
    --form-input__height: 50px;
    --form-input__border: 2px solid $color__gray;
    --form-input__border-focus: 2px solid $color__orange;
    --form-input__border-radius: 0.5rem;

    // Button
    --button__font-size: 1.125rem;
    --button__color: #{$color__gray-dark};
    --button__bg-color: #{$color__orange};
    --button__color-hover: #{$color__blue-light};
    --button__bg-color-hover: #{$color__gray-dark};
    --button__height: 50px;
    --button__border-radius: 1rem;
}

/*
    Root RWD

-------------------------------------
*/

@media screen and (max-width: 1564px) {
  :root {
    --gallery-card__content-height: auto;
  }
}

@media screen and (max-width: 1399px) {
    :root {
        // Navigation
        --navigation__width-mobile: 40%;

        --navigation-toggle__width: 46px;
        --navigation-toggle__height: 36px;

        --navigation-toggle-span__height: 5px;

        // Font Size
        --font-size__global: 1.275rem;
        --font-size__text: 1.275rem;
    
        --font-size__header-m: 1.575rem;
        --font-size__header-l: 2.25rem;
        --font-size__header-xl: 4rem;

        // Content Box
        --content-box__margin-bottom-header: 2rem;

        --content-box__arrow-box-width: 55px;
        --content-box__arrow-box-height: 55px;

        // Title
        --title__margin: 8rem 0 5rem 0;

        // Gallery Cards
        --gallery-card-inner__margin-bottom: 7rem;
        --gallery-card__margin-bottom: 0.5rem;

        // Gallery Template
        --gallery-template-image__height: 500px;
        --gallery-template-image__min-width: 100px;
    }
  }

  @media screen and (max-width: 1199px) {
    :root {
        // Navigation
        --navigation__font-size: 1.475rem;
        --navigation__width-mobile: 50%;
        --navigation__opacity: 1;

        // Gallery Cards
        --gallery-card-inner__margin-bottom: 5rem;

        // News Cards
        --news-card__content-height: 325px;

        // Gallery Template
        --gallery-template-image__min-width: 85px;
    }
  }

  @media screen and (max-width: 1099px) {
    :root {
        // News Cards
        --news-card__content-height: 300px;
    }
  }

  @media screen and (max-width: 999px) {
    :root {
        // Font Size
        --font-size__global: 1.175rem;
        --font-size__text: 1.175rem;
    
        --font-size__header-m: 1.375rem;
        --font-size__header-l: 2rem;
        --font-size__header-xl: 3.75rem;

        // Content Box
        --content-box__margin-bottom-header: 1rem;

        --content-box__arrow-box-width: 50px;
        --content-box__arrow-box-height: 50px;

        // News Cards
        --news-card__content-height: auto;

        // Gallery Template
        --gallery-template-image__height: 355px;
    }
  }

  @media screen and (max-width: 849px) {
    :root {
        // Font Size
        --font-size__global: 1rem;
        --font-size__text: 1rem;
    
        --font-size__header-m: 1.275rem;
        --font-size__header-l: 1.875rem;
        --font-size__header-xl: 3.375rem;

        // Content Box
        --content-box__arrow-box-width: 45px;
        --content-box__arrow-box-height: 45px;
    }
  }

  @media screen and (max-width: 767px) {
    :root {
        // Navigation
        --navigation__width-mobile: 100%;

        --navigation-toggle__width: 40px;
        --navigation-toggle__height: 32px;

        // Content
        --content__padding: 0 1rem;

        // Title
        --title__margin: 6rem 0 3rem 0;

        // Gallery Template
        --gallery-template-image__min-width: 25px;
    }
  }

  @media screen and (max-width: 599px) {
    :root {
        // Navigation
        --navigation__font-size: 1.275rem;

        // Scrolled Items
        --navigation__main-height-scrolled: 75px;

        --navigation-toggle__width-scrolled: 38px;
        --navigation-toggle__height-scrolled: 30px;
        
        --navigation__logo-max-width-scrolled: 65%;

        // Section
        --section__margin-top-bottom: 6rem 0 3rem 0;

        // Font Size
        --font-size__header-xl: 2.575rem;

        // Gallery Cards
        --gallery-card-inner__margin-bottom: 4rem;
        
        // Form
        --form-input__height: 45px;

        // Button
        --button__font-size: 1rem;
        --button__height: 45px;
    }
  }