@use "../abstracts/mixins" as *;
@use "../abstracts/root" as *;

/*
    Privacy Policy

-------------------------------------
*/

.privacy-policy {
    margin-top: var(--navigation__main-height);

    &__content {

        .privacy-policy-title__header {
            margin: 2rem 0;
        }

        .privacy-policy__text.margined{
            margin-top: 1rem;
        }

        .privacy-policy__header {
            color: var(--color__orange);
            margin: 1rem 0;
        }

        ul {
            list-style: none;

            li {
                font-weight: var(--font-weight__light);
                margin-left: 2rem;
            }
        }
    }
}

/*
    Privacy Policy RWD

-------------------------------------
*/

@media screen and (max-width: 600px) {

    .privacy-policy {

        &__content {
    
            .privacy-policy-title__header {
                margin: 1.5rem 0;
            }

            ul {
                
                li {
                    margin-left: 1rem;
                }
            }
        }
    }
}